node_modules
dist
.env
.env.local
*.log
.DS_Store
apps/api/prisma/migrations/dev.db*

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
apps/web/android/.gradle/
apps/web/android/local.properties
